.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    /* background-color: #04AA6D;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none; */
    cursor: pointer;
}


.dropdown-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: fit-content;
    white-space: nowrap;
    background-color: white;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.dropdown-content li {
    /* color: black; */
    padding: 6px;
    /* text-decoration: none; */
    display: block;
    cursor: pointer;
}

.dropdown-content li:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
}

.dropdown:hover .dropbtn {
    /* background-color: #3e8e41; */
}